@font-face {
  font-family: 'Gilroy';
  src: url('../../fonts/gilroy/Gilroy-Regular.eot');
  src: local('../../fonts/gilroy/Gilroy Regular'), local('Gilroy-Regular'),
      url('../../fonts/gilroy/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/gilroy/Gilroy-Regular.woff2') format('woff2'),
      url('../../fonts/gilroy/Gilroy-Regular.woff') format('woff'),
      url('../../fonts/gilroy/Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../../fonts/gilroy/Gilroy-Bold.eot');
  src: local('../../fonts/gilroy/Gilroy Bold'), local('Gilroy-Bold'),
      url('../../fonts/gilroy/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/gilroy/Gilroy-Bold.woff2') format('woff2'),
      url('../../fonts/gilroy/Gilroy-Bold.woff') format('woff'),
      url('../../fonts/gilroy/Gilroy-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../../fonts/gilroy/Gilroy-Black.eot');
  src: local('../../fonts/gilroy/Gilroy Black'), local('Gilroy-Black'),
      url('../../fonts/gilroy/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/gilroy/Gilroy-Black.woff2') format('woff2'),
      url('../../fonts/gilroy/Gilroy-Black.woff') format('woff'),
      url('../../fonts/gilroy/Gilroy-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../../fonts/gilroy/Gilroy-Semibold.eot');
  src: local('../../fonts/gilroy/Gilroy Semibold'), local('Gilroy-Semibold'),
      url('../../fonts/gilroy/Gilroy-Semibold.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/gilroy/Gilroy-Semibold.woff2') format('woff2'),
      url('../../fonts/gilroy/Gilroy-Semibold.woff') format('woff'),
      url('../../fonts/gilroy/Gilroy-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../../fonts/gilroy/Gilroy-Medium.eot');
  src: local('../../fonts/gilroy/Gilroy Medium'), local('Gilroy-Medium'),
      url('../../fonts/gilroy/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/gilroy/Gilroy-Medium.woff2') format('woff2'),
      url('../../fonts/gilroy/Gilroy-Medium.woff') format('woff'),
      url('../../fonts/gilroy/Gilroy-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../../fonts/gilroy/Gilroy-Extrabold.eot');
  src: local('../../fonts/gilroy/Gilroy Extrabold'), local('Gilroy-Extrabold'),
      url('../../fonts/gilroy/Gilroy-Extrabold.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/gilroy/Gilroy-Extrabold.woff2') format('woff2'),
      url('../../fonts/gilroy/Gilroy-Extrabold.woff') format('woff'),
      url('../../fonts/gilroy/Gilroy-Extrabold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}




